* {
    margin: 0;
    padding: 0;
    border: border-box;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

#game {
    /* complete size of game window */
    width: 960px;
    /* location of game window */
    margin-top: 20px;
    margin-left: 40px;
}

/* ---------------------------- */
/* ART */
/* ---------------------------- */

#art {
    /* complete size of art section */
    position: relative;
    width: 960px;
    height: 540px;
    overflow: hidden;

}

#setting-front {
    position: absolute;
}

#settingBack {
    width: 100%;
    height: auto;
}

#imgLeft {
    position: absolute;
    left: 0;
    bottom: 0;
}

#imgCenter {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

#imgRight {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* ---------------------------- */
/* TEXT */
/* ---------------------------- */

#text-window {
    position: absolute;
    width: 500px;
    height: 160px;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
}

#name-field {
    position: absolute;
    color: lightblue;
    height: 30px;
    top: -14px;
    background-color: #43b84e;
    border: 3px solid;
    border-radius: 6px;
}

#name-field p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.dialogue {
    position: relative;
    right: 20px;
    top: 30px;
    list-style: none;
    margin-left: 50px;
    font-size: 75%;
}

.dialogue li {
    display: block;
    margin-top: 3px;
    padding: 10px 10px;
    height: 12px;
    width: 400px;
}

.option {
    background-color: green;
    /* border: solid 1px black; */
    border-radius: 4px;
}

.option:hover {
    background-color: lightgreen;
    cursor: pointer;
}

#next-btn {
    display: none;
}

#next {
    position: relative;
    height: 50px;
    width: 50px;
    right: -95%;
}

/* ---------------------------- */
/* ANIMATION */
/* ---------------------------- */

@keyframes slideRight{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.slideRight {
    animation: slideRight 2s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

@keyframes slideLeft{
    0% {
        transform: translate(100%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.slideLeft {
    animation: slideLeft 2s ease-in;
    animation-fill-mode: backwards;
    animation-delay: 1s;
}

/* ---------------------------- */
/* GENERIC STYLES */
/* ---------------------------- */

.hide {
    display: none;
}

.reverse {
    transform: scaleX(-1);
}

.left {
    left: 10px;
}

.right {
    right: 10px;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}